<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz details</title>
</head>
<body>
<h1>{{ predefined_quiz.quiz_name }} pytania:</h1>

{% if questions %}
    {% for q in questions %}
     <ul>
        <li>
        {{  q.question_content }}
        </li>
     </ul>
    {% endfor %}
{% else %}
    <h3>Brak Pytan! Dodaj jakieś :)</h3>
{% endif %}
<form method="POST" action="{% url 'quizzes:add_question' group_id quiz_id %}">
    {% csrf_token %}
    <button type="submit">Dodaj pytania!</button>
</form>

<a href="{% url 'group:go_to_group'  group_id %}"> Powrót </a>

</body>
</html>