<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Quizy!</title>
</head>
<body>



{% if all_quizzes %}
    {% for PreDefinedQuiz in all_quizzes %}
    <li><a href='{% url 'quizzes:detail' id=PreDefinedQuiz.id group_id=group_id %}'>{{  PreDefinedQuiz.quiz_name }}</a></li>
    {% endfor %}
{% else %}
    <h3>Brak Predefiniowanych Quizów! Dodaj jakiś :)</h3>
{% endif %}

<form method="POST" action="{% url 'quizzes:add_quiz' group_id %}">
    {% csrf_token %}
    <button type="submit">Dodaj quiz!</button>
</form>

</body>
</html>