<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
	<title>{% block title %} - Quiz{% endblock %}</title>

	<!--https://getmdl.io-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

	<link rel="stylesheet" href="//qcdn.kubahaha.tk/style.css">
	<!--<script src="//kubahaha.tk/quiz/questionsWork.js"></script>-->
	<script src="//qcdn.kubahaha.tk/questionsWork.js"></script>
	
	<link rel="stylesheet" href="//qcdn.kubahaha.tk/mdl-selectfield.min.css">
	<script src="//qcdn.kubahaha.tk/mdl-selectfield.min.js"></script>
</head>

<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">{% block title2 %} - Quiz{% endblock %}</span>
				<div class="mdl-layout-spacer"></div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
						<i class="material-icons">search</i>
        			</label>
					<div class="mdl-textfield__expandable-holder">
						<form method="GET" action="{% url 'group:search_groups' %}">
							<input id="fixed-header-drawer-exp" class="mdl-textfield__input" type="text" name="q">
						</form>
					</div>
				</div>
			</div>
			<div style="display:none" id="only-for-admin"></div>
		</header>
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">Menu</span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="{% url 'group:index' %}">Panel użytkownika</a>
				<a class="mdl-navigation__link" href="{% url 'group:add_group' %}">Dodaj grupę</a>
				<a class="mdl-navigation__link" href="{% url 'group:search_groups' %}">Szukaj grupy</a>
				<a class="mdl-navigation__link" href="{% url 'user:user_settings' %}">Ustawienia</a>
				<hr>
				<a class="mdl-navigation__link" href="{% url 'user:logout' %}">Wyloguj</a>
			</nav>
		</div>
		{% block body %} {% endblock %}
	</div>
</body>

</html>
