{% extends 'base_logged.html' %}
{% block title %}Grupa - admin{% endblock %}
{% block title2 %}Grupa - admin{% endblock %}
{% load widget_tweaks %}
{% block body %}
		{% if user_group_details.user_status > 0 %}
			<script>
				document.getElementById("only-for-admin").style.display = "block";
			</script>
		{% endif %}
		<main class="mdl-layout__content group-content">
			<section class="mdl-layout__tab-panel is-active" id="settings">
			<div class="page-content">
				<!--<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp settings-tags-section">
					<div class="mdl-card mdl-cell mdl-cell--12-col">
						<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
							<h4 class="mdl-cell mdl-cell--12-col">Tagi</h4>
							<span class="mdl-chip mdl-chip--deletable">
								<span class="mdl-chip__text">UJ</span>
								<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
							</span>
							<span class="mdl-chip mdl-chip--deletable">
								<span class="mdl-chip__text">TJA</span>
								<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
							</span>
							<span class="mdl-chip mdl-chip--deletable">
								<span class="mdl-chip__text">2_rok</span>
								<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
							</span>
							 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								 <input class="mdl-textfield__input" type="text" id="add-tag">
								 <label class="mdl-textfield__label" for="add-tag">Dodaj nowy...</label>
							</div>
						</div>
					</div>
				</section>
				<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
					<div class="mdl-card mdl-cell mdl-cell--12-col">
						<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
							<h4 class="mdl-cell mdl-cell--12-col">Zatwierdzone quizy</h4>
							<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
								<div class="section__circle-container__circle mdl-color--green"></div>
							</div>
							<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
								<h5>Egzamin z roku 2015/2016</h5>
								Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation
								nostrud quis <a href="./quiz.html">Zobacz quiz</a>.
							</div>
							<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
								<div class="section__circle-container__circle mdl-color--green"></div>
							</div>
							<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
								<h5>Egzamin poprawkowy z roku 2015/2016</h5>
								Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation
								nostrud quis <a href="./quiz.html">Zobacz quiz</a>.
							</div>
							<h4 class="mdl-cell mdl-cell--12-col">Oczekują na zatwierdzenie</h4>
							<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
								<div class="section__circle-container__circle mdl-color--red"></div>
							</div>
							<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
								<h5>Egzamin z Mordoru 2012</h5>
								Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation
								nostrud quis <a href="./quiz.html">Zobacz quiz</a>.
							</div>
						</div>
					</div>
				</section>
				<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp settings-questions-section">
					<div class="mdl-card mdl-cell mdl-cell--12-col">
						<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
							<h4 class="mdl-cell mdl-cell--12-col">Baza pytań</h4>
							<table class="mdl-data-table mdl-js-data-table">
								<thead>
									<tr>
										<th>#</th>
										<th>Pytanie</th>
										<th>Autor</th>
										<th>Zatwierdź</th>
										<th>Usuń</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td onclick="showFullQuestion(this)" question-data='{"question": "Jaka maska podsieci jest reprezentowana zapisem /24?","answers": ["255.255.255.255","255.255.255.0","0.255.255.255","24.24.24.24","2.4.0.0"]}'>Jaka maska podsieci jest....</td>
										<td>Jan Kowalski</td>
										<td>
											<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect table-addbutton">
												Dodaj
											</button>
										</td>
										<td>
											<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect table-delbutton">
												Usuń
											</button>
										</td>
									</tr>
								</tbody>
							</table>
							<div id="blur" onclick='document.getElementById("blur").style.display="none";'>
								<div id="question-preview" class="mdl-card mdl-shadow--2dp">
									<div class="mdl-card__title">
										<h2 class="mdl-card__title-text">Pytanie #1</h2>
									</div>
									<div id="question-text" class="mdl-card__supporting-text">
									
									</div>
									<div id="question-answers" class="mdl-card__actions mdl-card--border">
										<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"></a>
										<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"></a>
										<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"></a>
										<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"></a>
										<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>-->
				<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp settings-admins-section" style="z-index:0">
					<div class="mdl-card mdl-cell mdl-cell--12-col">
						<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
							<h4 class="mdl-cell mdl-cell--12-col">Członkowie</h4>
							<ul>
								{% for member in group_members %}
								<li class="mdl-list__item">
									<span class="mdl-list__item-primary-content">
										<i class="material-icons  mdl-list__item-avatar">person</i>
										{{ member.user.username }}
									</span>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</section>
			</div>
			</section>
		</main>
{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
{% for member in group_members %}
    {{ member.user.username }}
    <br>
{% endfor %}
</body>
</html>