{% extends 'base_logged.html' %}
{% block title %}Grupa{% endblock %}
{% block title2 %}Grupa{% endblock %}
{% load widget_tweaks %}
{% block body %}
		{% if user_group_details.user_status > 0 %}
			<script>
				document.getElementById("only-for-admin").style.display = "block";
				document.getElementById("only-for-admin").innerHTML = '<div class="mdl-layout__tab-bar mdl-js-ripple-effect"><a href="{% url 'group:go_to_group' group_id %}" class="mdl-layout__tab is-active">Grupa</a><a href="{% url 'group:group_administration' group_id %}" class="mdl-layout__tab">Administracja</a></div>'
			</script>
		{% endif %}
		<main class="mdl-layout__content group-content">
			<section class="mdl-layout__tab-panel is-active" id="overwiev">
			<div class="page-content">
				<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
					<div class="mdl-card mdl-cell mdl-cell--12-col">
						<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
							<h4 class="mdl-cell mdl-cell--12-col">Baza pytań</h4>
							<h6>
								Aktualnie w bazie <span id="enter-quantity"></span>
								<script>
									var count = {{ questions|length }};
									var text = "znajduj";
									if (count === 0 || count === 1 || (count > 4 && count < 22) || (count > 24 && (count % 10 === 5 || count % 10 === 6 || count % 10 === 7 || count % 10 === 8 || count % 10 === 9 || count % 10 === 0))) {
										text += "e";
									} else {
										text += "ą";
									}
									text += " się " + count + " pyta";
									if (count === 1) {
										text += "nie";
									} else if ((count > 4 && count < 22) || (count > 24 && (count % 10 === 5 || count % 10 === 6 || count % 10 === 7 || count % 10 === 8 || count % 10 === 9 || count % 10 === 0))) {
										text += "ń"
									} else {
										text += "nia";
									}
									document.getElementById("enter-quantity").innerHTML = text + ".";
								</script>
                                <form method="POST" action="{% url 'quizzes:add_question' group_id %}">
                                    {% csrf_token %}
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">Dodaj Pytanie</button>
                                </form>

							</h6>
							<div class="mdl-card__actions mdl-card--border">
								<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'quizzes:solve_quiz' group_id %}">
									Rozwiąż losowy quiz
								</a>
							</div>
						</div>
					</div>
				</section>
				<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
					<div class="mdl-card mdl-cell mdl-cell--12-col">
						<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored button-add" onclick="window.location.href='{% url 'quizzes:add_quiz' group_id=group_id %}'">
							<i class="material-icons">add</i>
						</button>
						<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
							<h4 class="mdl-cell mdl-cell--12-col">Ułożone quizy</h4>
							{% for quiz in quizzes_list %}
								<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">

									<div class="section__circle-container__circle mdl-color--primary"></div>
								</div>
								<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
									<h5>{{ quiz.quiz_name }}</h5>
									{{ quiz.quiz_description }}
                                    <a href="{% url 'quizzes:detail' group_id quiz.id %}">Przejdź do quizu</a>.
								</div>
							{% endfor %}

						</div>
					</div>
				</section>
			</div>
			</section>
		</main>
{% endblock %}
